body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #db5a5a;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
